@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #0D0D0D;
  font-family: 'Noto Sans TC', sans-serif !important;
}

input.loginInput {
  /*border-bottom-width: 2px !important;
    border-bottom-color: #EAB226 !important;*/
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #265eea 0%, #6bedfb 100%);
    border-image-slice: 1;
    box-sizing: border-box !important;
    border-width: 0px 0px 2px 0px;
    background-color: black;
}
input:focus{
  outline: none;
}
input.loginInput::placeholder{
  text-align: center; 
  opacity: 0.8;
  animation: flickerAnimation 1s infinite ;
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn { 
  from { opacity: 0; } 
}

input.gameNumber{
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #eacd26 0%, #fbe16b 100%);
  border-image-slice: 1;
  box-sizing: border-box !important;
  border-width: 0px 0px 2px 0px;
  background-color: black;
  text-align: center; 
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.60), 0 15px 12px rgba(0,0,0,0.40);
}
.text6 {
  text-shadow: 0 13.36px 8.896px #483d2c, 0 -2px 1px #dfca9e;
 letter-spacing: -4px;
 color: #bba26c;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #3c3c3c;
  border-radius: 5px;
} 
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  background-color: #555;
  height: 0;
}
::-webkit-scrollbar-corner {
  background-color: #555;
}